<footer>
	<div class="container small">
		&copy;
		<span><script type="text/javascript">document.write(new Date().getFullYear());</script></span>
		All Rights Reserved &sdot;

		<a href="{{ site.baseurl }}/stats.html"><span class="glyphicon glyphicon-stats"></span></a> &sdot;

		<a href="mailto:lucas.li@sdchina.org.cn"><span class="glyphicon glyphicon-envelope"></span></a>


		<span class="pull-right"><a href="javascript:;" onclick="chn()">中文</a> / <a href="javascript:;" onclick="eng()">English</a></span>
	</div>
</footer>