<header>
	<div class="container">
		<nav>
			<ul>
				<a href="{{ site.baseurl }}/">
					<li>
						<img class="logo" src="{{ site.baseurl }}/assets/img/profile.png">
					</li>
				</a>

				<a class="{% if page.url contains 'music' %}active{% endif %}" href="{{ site.baseurl }}/music.html">
					<li>
						音乐<br>
						<span class="x-small slim">MUSIC</span>
					</li>
				</a>

				

				<a class="{% if page.url contains 'gallery' %}active{% endif %}" href="{{ site.baseurl }}/gallery.html">
					<li>
						画廊<br>
						<span class="x-small slim">GALLERY</span>
					</li>
				</a>
			</ul>	
		</nav>
	</div>
</header>